{% load static i18n %}
<header class="home-header">
  <div class="title-col">
    <h1 class="header-title">{% translate "Register rabe UI" %}</h1>
    <p class="header-subtitle">
      {% blocktranslate %}
      <span>
        Zbiramo podatke o uporabi umetnointeligenčnih sistemov v slovenskem
        javnem sektorju ter na njihovi podlagi ustvarjamo celovit in vsem
        dostopen register. Zahtevamo popolno odgovornost in transparentnost pri
        uporabi UI v javnem sektorju.
      </span>
      {% endblocktranslate %}
    </p>
    <hr />
    <label class="header-search">
      <span>{% translate "IŠČI PO REGISTRU" %}</span>
      <input type="text" />
    </label>
  </div>
  <div class="info-col">
    <div class="header-image">
      <img src="{% static "home/img/register.svg" %}" alt="">
    </div>
    <div class="header-description">
      {% blocktranslate %}
      <p>
        Edina pot do vzpostavljanja javnega zaupanja v poštenost, zanesljivost
        in zakonitost avtomatiziranih sistemov, ki so v uporabi v javnem
        sektorju, je njihova popolna transparentnost.
      </p>
      <p>
        Javnost ima pravico do razumljivih in celovitih informacij o delovanju
        teh sistemov ter o načinih, kako organi sprejemajo odločitve, ki
        vplivajo na življenja posameznikov.
      </p>
      <p>
        Slovenska javnost doslej ni imela dostopa do sistematično zbranih
        informacij o načinih in razlogih za uporabo umetnointeligenčnih sistemov
        v javnem sektorju ter o njihovem vplivu na družbo in posameznike.
        Register rabe UI premošča to vrzel.
      </p>
      {% endblocktranslate %}
    </div>
  </div>
</header>
