<div class="paginator">
  <a href="#" class="page-link page-first">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 11 8">
      <path d="M5 4 10.25.536v6.928L5 4Z" />
      <path d="M0 4 5.25.536v6.928L0 4Z" />
    </svg>
  </a>

  <a href="#" class="page-link page-prev">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 6 8">
      <path d="M0 4 5.25.536v6.928L0 4Z" />
    </svg>
  </a>

  <div class="page-links">
    <a href="#" class="page-link page-number active">1</a>
    <a href="#" class="page-link page-number">2</a>
    <a href="#" class="page-link page-number">3</a>
    <a href="#" class="page-link page-number">4</a>
  </div>

  <a href="#" class="page-link page-next">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 6 8">
      <path d="M6 4 .75 7.464V.536L6 4Z" />
    </svg>
  </a>

  <a href="#" class="page-link page-last">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 11 8">
      <path d="M6 4 .75 7.464V.536L6 4Z" />
      <path d="M11 4 5.75 7.464V.536L11 4Z" />
    </svg>
  </a>
</div>
