{% load i18n pagination_tags %}
<div class="registry-filters">
  <div class="filters-row">
    <div class="filters-col">
      <button type="button" class="filter-button">
        <span>{% translate "FILTRIRAJ" %}</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 6 8"
        >
          <path d="M6 4 .75 7.464V.536L6 4Z" />
        </svg>
      </button>
      {% if filters.selected_area %}
      <a href="?{% query_string_replace request area=None page=1 %}#entries" class="filter-button remove-filter-link">
        <span>{{ filters.selected_area.1 }}</span>
        <i>&times;</i>
      </a>
      {% endif %}
      {% if filters.selected_tag %}
      <a href="?{% query_string_replace request tag=None page=1 %}#entries" class="filter-button remove-filter-link">
        <span>{{ filters.selected_tag.1 }}</span>
        <i>&times;</i>
      </a>
      {% endif %}
      {% if filters.selected_institution %}
      <a href="?{% query_string_replace request institution=None page=1 %}#entries" class="filter-button remove-filter-link">
        <span>{{ filters.selected_institution.1 }}</span>
        <i>&times;</i>
      </a>
      {% endif %}
      <div class="filter-options" style="display: none;">
        {% translate 'Področja:' %}
        {% for area in filters.areas %}
        <div>
          <a href="?{% query_string_replace request area=area.0 page=1 %}#entries" class="filter-button filter-link">
            <span>{{ area.1 }}</span>
          </a>
        </div>
        {% endfor %}
        {% translate 'Oznake:' %}
        {% for tag in filters.tags %}
        <div>
          <a href="?{% query_string_replace request tag=tag.0 page=1 %}#entries" class="filter-button filter-link">
            <span>{{ tag.1 }}</span>
          </a>
        </div>
        {% endfor %}
        {% translate 'Institucije:' %}
        {% for institution in filters.institutions %}
        <div>
          <a href="?{% query_string_replace request institution=institution.0 page=1 %}#entries" class="filter-button filter-link">
            <span>{{ institution.1 }}</span>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="info-col">
      {% blocktranslate count amount=all_entries_count %}
      <span>Register trenutno vsebuje <em>{{ amount }}</em> sistem.</span>
      {% plural %}
      <span>Register trenutno vsebuje <em>{{ amount }}</em> sistemov.</span>
      {% endblocktranslate %}
    </div>
    <div class="sort-col">
      <button type="button" class="filter-button sort-button">
        <span>{% translate "RAZVRSTI PO:" %}</span>
        {% for sort_option in sort_options %}
          {% if sort_option.0 == sort_query %}
          <strong>{{ sort_option.1 }}</strong>
          {% endif %}
        {% endfor %}
      </button>
      <div class="sort-options" style="display: none;">
        {% for sort_option in sort_options %}
          {% if sort_option.0 != sort_query %}
          <a href="?{% query_string_replace request sort=sort_option.0 page=1 %}#entries" class="sort-link">{{ sort_option.1 }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <hr />
</div>
