{% load i18n %}
<div class="registry-entry collapsed">
  <div class="entry-header">
    <h2 class="entry-title">
      <strong>Face Trace</strong
      ><span>Avtomatizirano prepoznavanje obrazov</span>
    </h2>
    <div class="entry-time-in-use">2021&ndash;</div>
  </div>
  <hr />
  <div class="entry-collapsible">
    <div class="entry-content">
      <div>
        <div class="entry-description">
          <p>
            Če želimo zaupati, da javni avtomatizirani sistemi delujejo pošteno,
            zanesljivo in zakonito, potrebujemo preglednost in razložljivost;
            javnost bi morala biti sposobna razumeti, kako sistem deluje in kako
            se sprejemajo odločitve, ki vplivajo na njihova življenja.
          </p>
          <p>
            Do sedaj ni bilo na voljo sistematično zbranih informacij o tem,
            kako in zakaj javni organi uporabljajo umetnointeligenčne sisteme
            ali kakšen vpliv imajo na družbo in posameznike. Do sedaj ni bilo na
            voljo sistematično zbranih informacij o tem, kako in zakaj javni
            organi uporabljajo umetnointeligenčne sisteme ali kakšen vpliv imajo
            na družbo in posameznike. Do sedaj ni bilo na voljo sistematično
            zbranih informacij o tem, kako in zakaj javni organi.
          </p>
        </div>
        <div class="entry-sources">
          <div class="entry-sources-title">{% translate 'Viri:' %}</div>
          <ul>
            <li>
              <a href="#"
                >Dokument xyb, Ministrstvo za javno upravo, 6. 6. 2024</a
              >
            </li>
            <li>
              <a href="#"
                >Dokument zbt, Ministrstvo za javno upravo, 6. 6. 2024</a
              >
            </li>
            <li><a href="#">www.delo.si/hfhsiovjioxu</a></li>
          </ul>
        </div>
      </div>
      <div>
        <table>
          <tr>
            <td>{% translate 'Institucija:' %}</td>
            <td>
              <div class="pill">
                Ministrstvo za delo, družino, socialne zadeve in enake možnosti
              </div>
            </td>
          </tr>
          <tr>
            <td>{% translate 'Področje:' %}</td>
            <td>
              <div class="pill">socialno varstvo</div>
            </td>
          </tr>
          <tr>
            <td>{% translate 'Oznake:' %}</td>
            <td>
              <div class="pill">avtomatizirano odločanje</div>
              <div class="pill">osebni podatki</div>
            </td>
          </tr>
          <tr>
            <td>{% translate 'Razvijalci:' %}</td>
            <td>
              <div class="pill">Ministrstvo za javno upravo</div>
            </td>
          </tr>
          <tr>
            <td>{% translate 'Cena:' %}</td>
            <td>
              <div class="pill">20 Mio €</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="entry-actions">
    <button
      type="button"
      class="expand-button"
      data-toggle-text="{% translate 'ZAPRI -' %}"
    >
      {% translate 'VEČ INFORMACIJ +' %}
    </button>
  </div>
</div>
