{% load i18n pagination_tags registry_entry_tags %}

<div class="registry-entry collapsed">
  <div class="entry-header">
    <h2 class="entry-title">
      <strong>{{ entry.name }}</strong><span>{{ entry.purpose }}</span>
    </h2>
    <div class="entry-time-in-use">{{ entry.time_in_use }}</div>
  </div>
  <hr />
  <div class="entry-collapsible">
    <div class="entry-content">
      <div class="entry-table-col">
        <table>
          {% if entry.areas.all|length %}
          <tr>
            <td>{% translate 'Področja:' %}</td>
            <td>
              {% for area in entry.areas.all %}
              <a
                href="?{% query_string_replace request area=area.slug page=1 %}#entries"
                class="pill has-link"
                >{{ area.name }}</a
              >
              {% endfor %}
            </td>
          </tr>
          {% endif %}
          {% if entry.tags.all|length %}
          <tr>
            <td>{% translate 'Oznake:' %}</td>
            <td>
              {% for tag in entry.tags.all %}
              <a
                href="?{% query_string_replace request tag=tag.slug page=1 %}#entries"
                class="pill has-link"
                >{{ tag.name }}</a
              >
              {% endfor %}
            </td>
          </tr>
          {% endif %}
          {% if entry.developers %}
          <tr>
            <td>{% translate 'Razvijalci:' %}</td>
            <td>
              <div class="pill">{{ entry.developers }}</div>
            </td>
          </tr>
          {% endif %}
          {% if entry.registryentryinstitutiondata.all|length %}
          <tr class="tab-links">
            <td>{% translate 'Institucija:' %}</td>
            <td>
              {% for entryinstitutiondata in entry.registryentryinstitutiondata.all %}
              <a
                {% comment %} href="?{% query_string_replace request institution=entryinstitutiondata.institution.first.slug page=1 %}#entries" {% endcomment %}
                class="pill has-link tab-link"
                data-tab="{{ entryinstitutiondata.institution.first.slug }}"
                >{{ entryinstitutiondata.institution.first.name }}</a
              >
              {% endfor %}
            </td>
          </tr>
          {% endif %}
        </table>
        {% if entry.registryentryinstitutiondata.all|filter_out_public_procurement|length %}
        <div class="tab-content-container">
          {% for entryinstitutiondata in entry.registryentryinstitutiondata.all|filter_out_public_procurement %}
          <div class="tab-content" data-tab="{{ entryinstitutiondata.institution.first.slug}}">
            <table>
              {% if entryinstitutiondata.cost %}
              <tr>
                <td>{% translate 'Cena:' %}</td>
                <td>
                  <div class="pill">{{ entryinstitutiondata.cost }}</div>
                  {% if entryinstitutiondata.cost_comment %}
                  <div class="pill has-tooltip" tabindex="0">
                    <span>?</span>
                    <div class="pill-tooltip-container" style="display: none">
                      <div class="pill-tooltip">{{ entryinstitutiondata.cost_comment }}</div>
                    </div>
                  </div>
                  {% endif %}
                </td>
              </tr>
              {% endif %}
              {% if entryinstitutiondata.license_duration %}
              <tr>
                <td>{% translate 'Trajanje licence:' %}</td>
                <td>
                  <div class="pill">{{ entryinstitutiondata.license_duration }}</div>
                  {% if entryinstitutiondata.license_duration_comment %}
                  <div class="pill has-tooltip" tabindex="0">
                    <span>?</span>
                    <div class="pill-tooltip-container" style="display: none">
                      <div class="pill-tooltip">{{ entryinstitutiondata.license_duration_comment }}</div>
                    </div>
                  </div>
                  {% endif %}
                </td>
              </tr>
              {% endif %}
            </table>
            <table>
              <tr>
                <td>
                  {% translate 'Analiza učinka na človekove pravice opravljena:' %}
                </td>
                <td>
                  <div class="pill">
                    {% if entryinstitutiondata.human_rights_analysis_done %} {% translate "Da" %}
                    {% else %} {% translate "Ne" %} {% endif %}
                  </div>
                  {% if entryinstitutiondata.human_rights_analysis_comments %}
                  <div class="pill has-tooltip" tabindex="0">
                    <span>?</span>
                    <div class="pill-tooltip-container" style="display: none">
                      <div class="pill-tooltip">
                        {{ entryinstitutiondata.human_rights_analysis_comments }}
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>
                  {% translate 'Analiza učinka na osebne podatke opravljena:' %}
                </td>
                <td>
                  <div class="pill">
                    {% if entryinstitutiondata.personal_data_analysis_done %} {% translate "Da" %}
                    {% else %} {% translate "Ne" %} {% endif %}
                  </div>
                  {% if entryinstitutiondata.personal_data_analysis_comments %}
                  <div class="pill has-tooltip" tabindex="0">
                    <span>?</span>
                    <div class="pill-tooltip-container" style="display: none">
                      <div class="pill-tooltip">
                        {{ entryinstitutiondata.personal_data_analysis_comments }}
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </td>
              </tr>
            </table>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="entry-text-col">
        <div class="entry-updated-at">
          {% translate 'Posodobljeno:' %} {{ entry.updated_at|date:"j. F Y" }}
        </div>
        <div class="entry-description">{{ entry.description|linebreaks }}</div>
        {% if entry.links.all|length %}
        <div class="entry-sources">
          <div class="entry-sources-title">{% translate 'Viri:' %}</div>
          <ul>
            {% for link in entry.links.all %}
            <li>
              <a
                href="{% if link.url %}{{ link.url }}{% elif link.file %}{{ link.file.url }}{% else %}#{% endif %}"
                target="_blank"
                rel="noopener noreferrer"
                >{{ link.description }}</a
              >
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="entry-actions">
    <button
      type="button"
      class="expand-button"
      data-toggle-text="{% translate 'ZAPRI -' %}"
    >
      {% translate 'VEČ INFORMACIJ +' %}
    </button>
  </div>
</div>
