apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ai-registry
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
images:
  - name: ai-registry
    newName: rg.fr-par.scw.cloud/djnd/ai-registry
    newTag: '79aee1b540f07c2be5d766c40f297d53f3a78243'
