apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ai-registry
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
images:
  - name: ai-registry
    newName: rg.fr-par.scw.cloud/djnd/ai-registry
    newTag: '39e2ce00e741ed5cfc98da29bc5837222d6966e9'
