volumes:
  postgres-data:


services:
  db:
    image: postgres:16-alpine
    volumes:
      - postgres-data:/var/lib/postgresql/data
    expose:
      - "5432"
    environment:
      POSTGRES_DB: ai_registry
      POSTGRES_USER: ai_registry
      POSTGRES_PASSWORD: changeme

  django:
    build: ./ai_registry
    command: ./manage.py runserver 0.0.0.0:8000
    volumes:
      - ./ai_registry:/app:delegated,rw
      - ./ai_registry/ipython_config.py:/tmp/ipython/profile_default/ipython_config.py:delegated,rw
    ports:
      - "8000:8000"
    environment:
      DJANGO_RUNSERVER_HIDE_WARNING: "true"
      DJANGO_DATABASE_HOST: db
      DJANGO_DATABASE_NAME: ai_registry
      DJANGO_DATABASE_USER: ai_registry
      DJANGO_DATABASE_PASSWORD: changeme
    depends_on:
      - db

  scss-compile:
    build: ./scss-compile
    command: yarn dev
    volumes:
      - ./ai_registry/home/static/home/css:/app/static/css:delegated,rw
      - ./scss-compile/scss:/app/scss:delegated,rw
    depends_on:
      - django
