{% load static i18n %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'home/favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'home/favicons/favicon-32x32.png' %}">

  <title>{% translate 'Register rabe UI v slovenskem javnem sektorju' %}</title>
  <meta name="twitter:title" content="{% translate 'Register rabe UI v slovenskem javnem sektorju' %}">
  <meta property="og:title" content="{% translate 'Register rabe UI v slovenskem javnem sektorju' %}">

  <meta name="description" content="{% translate 'Prva organizirana zbirka podatkov o uporabi umetnointeligenčnih sistemov v slovenskem javnem sektorju.' %}">
  <meta name="twitter:description" content="{% translate 'Prva organizirana zbirka podatkov o uporabi umetnointeligenčnih sistemov v slovenskem javnem sektorju.' %}">
  <meta property="og:description" content="{% translate 'Prva organizirana zbirka podatkov o uporabi umetnointeligenčnih sistemov v slovenskem javnem sektorju.' %}">

  <meta name="twitter:image" content="{% static 'home/img/OG-registerUI.png' %}">
  <meta property="og:image" content="{% static 'home/img/OG-registerUI.png' %}">

  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:type" content="website">

  <link rel="stylesheet" href="{% static 'home/fonts/selfhosted.css' %}" />
  <link rel="stylesheet" href="{% static 'home/css/bundle.css' %}" />

  <script defer data-domain="registerui.djnd.si" src="https://plausible.lb.djnd.si/js/plausible.js"></script>
</head>
<body>
  <div class="page-wrapper">
    {% block content %}
      <main class="page-content">No content</main>
    {% endblock content %}
    {% block footer %}
      {% include "home/partials/footer.html" %}
    {% endblock footer %}
  </div>
  <script type="module" src="{% static 'home/js/main.js' %}"></script>
</body>
</html>
