@use "breakpoints";

footer.page-footer {
  .container {
    max-width: var(--footer-width);
  }

  .footer-content {
    display: flex;
    flex-direction: column;

    @include breakpoints.media-breakpoint-up(md) {
      flex-direction: row;
      gap: 4.5rem;

      .footer-description {
        flex: 2;
      }

      .footer-support {
        flex: 1;
      }

      .footer-separator {
        display: none;
      }
    }

    h3 {
      font-family: var(--font-main);
      font-size: 1.125rem;
    }

    p,
    button[type="submit"] {
      font-family: var(--font-mono);
      font-size: 0.75rem;
      line-height: 1.3;
    }

    p a {
      font-family: var(--font-main);
    }

    .about-link {
      font-family: var(--font-main);
      font-size: 0.875rem;
    }

    .button-link {
      display: inline-flex;
      gap: 0.5em;
      align-items: center;
      padding: 0.6em 0.9em;
      background: var(--accent-color);
      border: 0.5px solid var(--border-color-alt);
      border-radius: 5px;
      font-family: var(--font-mono);
      font-weight: 300;
      text-decoration: none;

      &:not(:disabled):hover {
        background: var(--bg-color-dark);
        color: var(--bg-color-light);
      }

      svg {
        width: 1em;
        height: 1em;
      }
    }

    .newsletter-form {
      .form-group {
        margin-top: 0.5rem;

        label {
          display: flex;
          flex-direction: column;
          font-family: var(--font-mono);
          font-size: 0.625rem;
          line-height: 1.3;
          font-weight: 300;

          input {
            margin-top: 0.25rem;
            padding: 0.3em 0.6em;
            background: var(--bg-color);
            border: 0.5px solid var(--border-color-alt);
            border-radius: 5px;
            font-family: var(--font-main);
            font-weight: 400;
            font-size: 1rem;
            line-height: 1rem;
          }
        }

        .checkbox {
          display: flex;
          gap: 0.5em;

          input[type="checkbox"] {
            appearance: none;
            display: grid;
            place-items: center;
            background: var(--bg-color);
            margin: 0;
            flex-shrink: 0;
            width: 1.5rem;
            height: 1.5rem;
            border: 0.5px solid var(--border-color-alt);
            border-radius: 5px;

            &:checked {
              background: var(--accent-color);

              &::before {
                content: "";
                display: block;
                width: 0.4em;
                height: 0.8em;
                margin-top: -0.2em;
                border: 0 solid currentColor;
                border-width: 0 1px 1px 0;
                transform-origin: center;
                transform: rotate(45deg);
              }
            }
          }
        }

        button[type="submit"],
        .checkbox,
        input {
          &:disabled {
            cursor: wait;
            filter: grayscale(1);
          }
        }
      }
    }
  }
}
