@use "breakpoints";

body {
  background: linear-gradient(
    to bottom,
    var(--bg-color-light) 0%,
    var(--bg-color-light) 50%,
    var(--bg-color-alt) 50%,
    var(--bg-color-alt) 100%
  );
  background-attachment: fixed;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main.page-content {
    flex: 1;

    .page-bg-gradient {
      background: linear-gradient(
        to bottom,
        var(--bg-color-light) 0%,
        var(--bg-color) 100%
      );
    }

    .page-bg-solid {
      background: var(--bg-color);
    }
  }

  footer.page-footer {
    padding-block: 2rem 2rem;
    background: var(--bg-color-alt);

    @include breakpoints.media-breakpoint-up(md) {
      padding-block: 4.5rem 3.5rem;
    }
  }
}

.container {
  max-width: var(--page-width);
  padding-inline: var(--page-gutter);
  margin-inline: auto;
}

hr {
  border-top: 1px dashed var(--border-color);
}

a {
  font-weight: 700;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.registry-entries {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include breakpoints.media-breakpoint-up(md) {
    gap: 2rem;
  }
}

.paginator-container {
  padding-block: 1.5rem 2.5rem;

  @include breakpoints.media-breakpoint-up(md) {
    padding-block: 2.5rem 5.2rem;
  }
}

.bottom-container {
  padding-bottom: 1.25rem;

  @include breakpoints.media-breakpoint-up(md) {
    display: none;
  }
}
