:root {
  --font-main: "wf-bricolage-grotesque", system-ui;
  --font-mono: "wf-ibm-plex-mono", monospace;

  --bg-color-light: #fff;
  --bg-color-dark: #000;
  --bg-color: #f3f8f3;
  --bg-color-alt: #dfeadf;
  --border-color: #a2a5a2;
  --border-color-alt: #545454;
  --accent-color: #b8ffb8;

  --page-width: 80rem;
  --footer-width: calc(var(--page-width) - 9rem);
}
